accelerate==0.21.0
bitsandbytes==0.41.1
datasets==2.14.3
fire==0.5.0
huggingface-hub==0.16.4
idna==3.4
Jinja2==3.1.2
nlpaug==1.1.11
numpy==1.22.4
optuna==3.3.0
pandas==1.5.3
peft==0.5.0
protobuf==4.24.0
pyarrow==12.0.1
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
safetensors==0.3.1
scikit-learn==1.1.1
scipy==1.11.1
sklearn==0.0.post7
sympy==1.12
tensorboardX==2.6.2
torch==2.0.1
tqdm==4.65.0
transformers==4.30.1
typing_extensions==4.7.1